body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 2px solid white;
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.output-box {
  background-color: #111;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.output-box span {
  overflow-wrap: anywhere;
}

.copy-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 15px;
}

input[type="number"], label {
  display: block;
  margin-top: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.checkbox-group {
  margin: 10px 0;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group input {
  margin-right: 10px;
}

.generate-btn {
  background-color: white;
  color: black;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
